{% extends "Books/layout.html" %}
{% load static %}

{% block body %}

<div class="content">
    <div class="content-wrap">
    <div class="content-book">
        <img src="{{ book.image }}" class="content-image">
        <div class="content-info">
            <h4 id="content-book-title">{{book.title}}</h4>
            <h6 id="content-book-author">by {% if book.more %} {{ book.author.0 }}, {{ book.author.1 }} {% else %} {{ book.author }} {% endif %}</h6>
            <div class="show">
                <p class="content-info-desc-hide">{{ book.desc }}</p><a href="#" id="show-more-desc">...more</a>
            </div>
            <div class="rating">
                Rating: {{ book.rating }}/5
            </div>
            
        </div>
    </div>
    {% if book.more %}
        {% for author in book.author %}
        <div class="author-name">
            More by {{ author }}
        </div>
        <div class="content-book">
            <div hidden class="content-book-hidden" id="{{author}}"></div>
            <ul class="index-genre" style="width:857px" id="book-author">
                <div class="arrow-right">
                    <img src="http://clipart-library.com/images_k/transparent-arrow-icon/transparent-arrow-icon-5.png" class="arrow-img"> 
                  </div>
                  <div class="arrow">
                    <img src="http://clipart-library.com/images_k/transparent-arrow-icon/transparent-arrow-icon-5.png" class="arrow-img">
                  </div>
            </ul>
    
        </div>
        {% endfor %}

    {% else %}
    <div class="author-name">
        More by {{ book.author }}
    </div>
    <div class="content-book">
        <div hidden class="content-book-hidden" id="{{book.author}}"></div>
        <ul class="index-genre" style="width:857px" id="book-author">
            <div class="arrow-right">
                <img src="http://clipart-library.com/images_k/transparent-arrow-icon/transparent-arrow-icon-5.png" class="arrow-img"> 
              </div>
              <div class="arrow">
                <img src="http://clipart-library.com/images_k/transparent-arrow-icon/transparent-arrow-icon-5.png" class="arrow-img">
              </div>
        </ul>

    </div>
    {% endif %}
    </div>
</div>

<script src="{% static 'javascript.js' %}"></script>

{% endblock %}