{% extends "Books/layout.html" %}
{% load static %}

{% block body %}
{{ request.user.id|json_script:"user_id" }}
<div class="content">
    <div class="content-wrap">
    <div class="content-book">
        <div class="content-book-image">
            <img src="{{ book.image }}" class="content-image">
            <div class="btn-group me">
                {% if info_book and user.is_authenticated %}
                    <button class="btn btn-success btn-md" type="button" style="max-width: 102px;" id="book-state">
                    {{ info_book }}
                    </button>
                    <button type="button" class="btn btn-sm btn-success dropdown-toggle dropdown-toggle-split" style="max-width: 27px;min-width: 27px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                    </button>
                {% elif user.is_authenticated %}
                <button class="btn btn-secondary btn-md" type="button" id="book-state">
                    Book State
                    </button>
                    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" style="max-width: 27px;min-width: 27px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                    </button>
                {% endif %}
                <div class="dropdown-menu position-drop">
                    <a class="dropdown-item" href="#">Read</a>
                    <a class="dropdown-item" href="#">Currently reading</a>
                    <a class="dropdown-item" href="#">Want to read</a>
                    {% if not info_book %}
                    <a class="dropdown-item" href="#" id="remove-item" style="display:none">Remove</a>
                    {% else %}
                    <a class="dropdown-item" href="#" id="remove-item">Remove</a>
                    {% endif %}
                </div>
              </div>
        </div>
        <div class="content-info">
            <h4 id="content-book-title">{{book.title}}</h4>
            <h6 id="content-book-author">by {% if book.more %} {{ book.author.0 }}, {{ book.author.1 }} {% else %} {{ book.author }} {% endif %}</h6>
            <div class="show">
                <p class="content-info-desc-hide">{{ book.desc }}</p><a href="#" id="show-more-desc">...more</a>
            </div>
            <div class="rating">
                Rating: {{ book.rating }}/5
            </div>
            <div class="pages">
                Pages: {{ book.page_count }}
            </div>
            <div class="pages">
                Published: {{ book.date }}
            </div>
            
        </div>
    </div>
    {% if book.more %}
        {% for author in book.author %}
        <div class="author-name">
            More by {{ author }}
        </div>
        <div class="content-book">
            <div hidden class="content-book-hidden" id="{{author}}"></div>
            <ul class="index-genre" style="width:857px" id="book-author">
                <div class="arrow-right">
                    <img src="http://clipart-library.com/images_k/transparent-arrow-icon/transparent-arrow-icon-5.png" class="arrow-img"> 
                  </div>
                  <div class="arrow">
                    <img src="http://clipart-library.com/images_k/transparent-arrow-icon/transparent-arrow-icon-5.png" class="arrow-img">
                  </div>
            </ul>
    
        </div>
        {% endfor %}

    {% else %}
    <div class="author-name">
        More by {{ book.author }}
    </div>
    <div class="content-book">
        <div hidden class="content-book-hidden" id="{{book.author}}"></div>
        <ul class="index-genre" style="width:857px" id="book-author">
            <div class="arrow-right">
                <img src="http://clipart-library.com/images_k/transparent-arrow-icon/transparent-arrow-icon-5.png" class="arrow-img"> 
              </div>
              <div class="arrow">
                <img src="http://clipart-library.com/images_k/transparent-arrow-icon/transparent-arrow-icon-5.png" class="arrow-img">
              </div>
        </ul>

    </div>
    {% endif %}
    </div>
</div>
{% endblock %}