{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GoodBooks</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">good<b>books</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse collapse2" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'quotes' %}">Quotes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">My Library</a>
              </li>
              </ul>
            <ul class="navbar-nav mr-right">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link disabled">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                      <input type="text" class="form-control login-item" id="username" placeholder="Username" name="username">
                      <input type="password" class="form-control login-item" id="password" placeholder="Password" name="password">
                      <input class="btn btn-primary login-item btn-2" type="submit" value="Login">
                </form>
                </ul>
              </li>
              {% endif %}
              <li class="nav-item">
                <form class="d-flex search">
                  <input class="form-control me-2" type="search" placeholder="Search Books..." aria-label="Search">
                  <a type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg></a>
                </form>
              </li>

              
            </ul>

          </div>
        </div>
      </nav>
      <div class="body">
        {% block body %}
        {% endblock %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="{% static 'javascript.js' %}"></script>

    </body>
</html>
