{% extends "Books/layout.html" %}
{% load static %}

{% block body %}

<div class="content-quote">
    <div class="quote">
        <div class="quote-text">
            "All right then, said the savage defiantly, I'm claiming the right to be unhappy.Not to mention the right to grow old and ugly and impotent; the right to have syphilis and cancer; the right to have too little to eat, the right to be lousy; the right to live in constant apprehension of what may happen tomorrow; the right to catch typhoid; the right to be tortured by unspeakable pains of every kind. There was a long silence.I claim them all, said the Savage at last."
        </div>
        <div class="quote-author">
            Walt Disney Company
        </div>
    </div>
</div>


{% endblock %}