{% extends "Books/layout.html" %}
{% load static %}

{% block body %}
<div class="content-quote-0">
    <input class="form-control search-quotes" style="width:60%" type="search" placeholder="Search by author, title" aria-label="Search">
    <div class="dropdown" style="width:18%; margin-left:2%">
        <button class="btn btn-light dropdown-toggle btn-cstm drp-title" style="width:100%" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Popular
        </button>
        <div class="dropdown-menu drp-st" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Popular</a>
          <a class="dropdown-item" href="#">Love</a>
          <a class="dropdown-item" href="#">Life</a>
          <a class="dropdown-item" href="#">Inspirational</a>
          <a class="dropdown-item" href="#">Humor</a>
          <a class="dropdown-item" href="#">Philosophy</a>
          <a class="dropdown-item" href="#">God</a>
          <a class="dropdown-item" href="#">Truth</a>
          <a class="dropdown-item" href="#">Wisdom</a>
          <a class="dropdown-item" href="#">Poetry</a>
          <a class="dropdown-item" href="#">Romance</a>
          <a class="dropdown-item" href="#">Death</a>
          <a class="dropdown-item" href="#">Happiness</a>
          <a class="dropdown-item" href="#">Hope</a>
          <a class="dropdown-item" href="#">Faith</a>
          <a class="dropdown-item" href="#">Life Lessons</a>
          <a class="dropdown-item" href="#">Writing</a>
          <a class="dropdown-item" href="#">Motivational</a>
          <a class="dropdown-item" href="#">Religion</a>
          <a class="dropdown-item" href="#">Relationships</a>
          <a class="dropdown-item" href="#">Spirituality</a>
          <a class="dropdown-item" href="#">Success</a>
          <a class="dropdown-item" href="#">Time</a>
          <a class="dropdown-item" href="#">Knowledge</a>
          <a class="dropdown-item" href="#">Science</a>
          <a class="dropdown-item" href="#">Motivation</a>

        </div>
      </div>
</div>

{% endblock %}