{% extends "Books/layout.html" %}

{% block body %}

    <form action="{% url 'register' %}" method="POST" style="margin-top: 50px;">
        {% csrf_token %}
        <div class="form-floating mb-3">
          <input type="text" class="form-control field" name="username" placeholder="JohnDoe" required>
          <label for="floatingInput" class="field">Username</label>
      </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control field" name="email" placeholder="name@example.com" required>
            <label for="floatingInput" class="field">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control field" name="password" placeholder="Password" required>
            <label for="floatingPassword" class="field">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control field" name="password-repeat" placeholder="Password" required>
            <label for="floatingPassword" class="field">Repeat Password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control field" name="reading-challenge" placeholder="20">
          <label for="floatingInput" class="field">Set your reading challenge</label>
        </div>
        <label class="field mb-3">Pick your favourite genres: </label>
        <div class="genres">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Fantasy" name="genres">
            <label class="form-check-label" for="inlineCheckbox1">Fantasy</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Mystery" name="genres">
            <label class="form-check-label" for="inlineCheckbox2">Mystery</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Crime" name="genres">
            <label class="form-check-label" for="inlineCheckbox3">Crime</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Romance" name="genres">
            <label class="form-check-label" for="inlineCheckbox4">Romance</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="Thriller" name="genres">
            <label class="form-check-label" for="inlineCheckbox5">Thriller</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="Self_Help" name="genres">
            <label class="form-check-label" for="inlineCheckbox6">Self-Help</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="Science_fiction" name="genres">
            <label class="form-check-label" for="inlineCheckbox7">Science Fiction</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="Religious" name="genres">
            <label class="form-check-label" for="inlineCheckbox8">Religious</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="Historical" name="genres">
            <label class="form-check-label" for="inlineCheckbox9">Historical</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="Western" name="genres">
            <label class="form-check-label" for="inlineCheckbox10">Western</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="Dystopian" name="genres">
            <label class="form-check-label" for="inlineCheckbox11">Dystopian</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="Manga" name="genres">
            <label class="form-check-label" for="inlineCheckbox12">Manga</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox13" value="Nonfiction" name="genres">
            <label class="form-check-label" for="inlineCheckbox13">Nonfiction</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox14" value="Philosophy" name="genres">
            <label class="form-check-label" for="inlineCheckbox14">Philosophy</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox15" value="Poetry" name="genres">
            <label class="form-check-label" for="inlineCheckbox15">Poetry</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox16" value="Biography" name="genres">
            <label class="form-check-label" for="inlineCheckbox16">Biography</label>
          </div>
        </div>
        <div class="register-button">
        <input class="btn btn-primary btn-2 " type="submit" value="Register">
        </div>
        {% if message %}
          <div class="error-message">
            {{ message }}
          </div>
        {% endif %}
    </form>

{% endblock %}