.body {
    margin-left: 10px;
    margin-top: 10px;
}

.title {
    height: 7vh;
    width: 100%;
    background-color: #f4f2e9;
    display: flex;

}

.title-text {
    font-family: Serif;
}


.collapse2 {
    display: flex;
    justify-content: space-between;
    width: auto
}

.bi {
    height: 38px;
    width: 30px;
    margin-left: 3px;
}

.search {
    width: auto;
}

.navbar {
    background-color: #F4F1EA
}

.cc3 {
    display: flex;
    width: auto
}

.login {
    padding-right: 20px;
}

.field {
    width: 50%;
    margin-left: 25%;
}

.btn-2, .btn-2:active, .btn-2:visited {
    background-color: #F4F1EA;
    border-color: #F4F1EA;
    color: black;
}

.btn-2:hover {
    background-color: #382110;
    border-color: #382110;
    color: white
}

.register-button {
    display: flex;
    margin-top: 50px;
    justify-content: center;

}

.genres {
    width: 50%;
    margin-left: 25%
}



.index-genre {
    height: 25%;
    display: flex;
    overflow-x: scroll;
    justify-content: left;
    list-style: none;
    padding-left: 0;
}

.genre-name {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 5px;
    color:#382110
}

.index-genre li {
    height: 240px;
    padding-right: 5px;
    padding-left: 5px;
    overflow: hidden;
    background-color: white;
    transition: 0.2s
}

.index-genre li:hover {
    background-color: #382110;
    transition: 0.2s;
}

.book-img {
    height: 70%;
    max-width: 120px;
}

@media only screen and (min-width: 10000px) {
    img {
        max-width: 100%;
    }
  }


.index-genre::-webkit-scrollbar {
    display: none;
}

.book-name {
    display: flex;
    white-space: normal;
    overflow:hidden;
    width: 108px;
    justify-content: center;
    font-weight: 500;
    pointer-events: none;
}

.link-book {
    color: rgba(0,0,0,.9);
    text-decoration: none;
}

.link-book:hover {
    color: white
}

.form-check-input:checked {
    background-color: #382110;
    border-color: #382110;
}

.info-card {
    position: absolute;
    display: none;
    opacity: 0;
    height: 168px;
    width: 300px;
    color: black;
    background-color: rgb(255, 255, 255);
    border:#382110 2px solid;
    border-radius: 5px;
    padding-left: 5px;
    z-index: 5000;
    margin-top: -240px;
    overflow: hidden;
}

@keyframes appear {
    0% {opacity: 0}
    70% {opacity: 0;}
    100% {opacity: 1;}
}
@media (hover: hover) and (pointer: fine) {
    .link-book:hover + .info-card {
        opacity: 1;
        display: block;
        animation: appear 1s;
    }
}

.info-card-author {
    display: flex;
}

.info-card-desc {
    font-size: 12px;
}

.arrow {
    background-repeat: no-repeat;
    height: 240px;
    width: 27px;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    background-color: white;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); /* Rotating the image in the opposite side. */
}

.arrow-img {
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
}

.arrow + div {
    margin-left: 27px;
}

.arrow-right {
    background-repeat: no-repeat;
    height: 240px;
    width: 27px;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    right: 0;
    background-color: white;
}

.arrow:hover {
    background-color: transparent;
    filter: invert(100%)

}

.arrow-right:hover {
    background-color: transparent;
    filter: invert(100%)
}

.inner-genre:last-child {
    margin-right: 27px;
}

.error-message {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #cc0000;
}

.login-item {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
}

.content {
    margin: 0px auto;
    text-align: left;
    width: 100%;
}

.content-book {
    display: flex;
    justify-content: center;
}






.content-image {
    max-width:200px;
    margin-right: 20px;
    height:max-content
}

.content-info {
    width: 700px;
    margin-left:20px;
}

.show-less {
    font-family: "Merriweather", "Georgia", serif;
    line-height: 21px;
    margin:0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height:210px;
    overflow: hidden;
    transition: 1s;
}

.show-more {
    font-family: "Merriweather", "Georgia", serif;
    line-height: 21px;
    margin:0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: 2000px;
    overflow: hidden;
    transition: 1s;
}

.content-info-desc-hide {
    font-family: "Merriweather", "Georgia", serif;
    line-height: 21px;
    margin:0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
}

.content-info-desc-show {
    font-family: "Merriweather", "Georgia", serif;
    line-height: 21px;
    height: auto;
    margin:0
}

#show-more-desc {
    color:#382110
}

.content-author {
    height: 25%;
    display: flex;
    overflow-x: scroll;
    justify-content: left;
    list-style: none;
    padding-left: 0;
    width: 857px;
}

.content-author li {
    height: 240px;
    padding-right: 5px;
    padding-left: 5px;
    overflow: hidden;
}

.content-wrap {
    margin: 0 auto;
}

.author-name {
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.author-name-nm {
    font-size: 1.4em;
    font-weight: bold;
}

.rating {
    font-family: "Merriweather", "Georgia", serif;
    line-height: 21px;
}

.pages {
    font-family: "Merriweather", "Georgia", serif;
    line-height: 21px;
}


.content-quote {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.quote {
    width: 80%;
    background-color: #382110;
    border-radius: 50px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.quote-text {
    color: white;
    width: 85%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 250;
    line-height: 21px;
}

.quote-author {
    color: white;
    float: right;
    align-self: flex-end;
    margin-right: 7.5%;
}

.me {
    margin-top: 20px;
    display: flex;
}

.me2 {
    width: 140px;
    background-color: #382110 !important;
}

.me2:hover {
    background-color: black;
}

.me2:focus {
    background-color: black !important;
}

.position-drop {
    transform: translate3d(0px, 38px, 0px) !important;
}

.btn-cstm:hover {
    background-color: #382110;
    color: white
}

.btn-cstm:focus {
    background-color: #382110 !important;
    color: white !important
}

.drp-st {
    width: 100%;
    position: absolute;
    transform: translate3d(0px, 33px, 0px) !important;
    top: 0px;
    left: 0px;
    will-change: transform;
}

.content-quote-0 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.page {
    font-size: 22px;
    margin-right: 10px;
}

.page-max {
    font-size: 22px;
    margin-left: 10px;
}

.error-message {
    margin: 0 auto;
    color: red;
    font-size: 22px;
}

.search-results {
    position: absolute;
    width: 276px;
    height: fit-content;
    background-color: white;
    transform: translate3d(105px, 43px, 0px);
    z-index: 10000;
    list-style:none;
    transition: 1s;
}

.search-results-item {
    height: 100px;
    display: flex;
    padding: 10px;
    background-color: white;
    transition: 0.2s
}

.search-item-image {
    transition: 0.2s;
    width: 60px;
}

.search-results > a {
    color: rgba(0,0,0,.9);
    text-decoration: none;
}


.item-details {
    display: flex;
    flex-direction: column;
    padding-left:10px;
    overflow: hidden;

}

.search-results > a:hover {
    color: white;
}
.search-results-item:hover {
    background-color: #382110;
    transition: 0.2s
}

.search-results-item:hover > img {
    transform: scale(1.2);
    transition: 0.2s;
}

.as {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 100px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    background-color: white;
    transition: 0.2s;
}

.as:hover {
    background-color: #382110;
    color: white;
}

.profile-content {
    display:flex;
    justify-content: center;
}
.profile-inner {
    display: block;
}

.books-progress-bar {
    width: 100%;
    border: solid 1px #382110;
    border-radius:20px;
    height: 20px;
    padding-top: 20px;
    padding:0
}

.books-progress {
    background-color: #382110;
    width: 20%;
    height: 20px;
    border-radius: 20px;
}

progress {
    margin-top:10px;
    width: 100%;
    border-radius: 20px;
    height:20px;
    box-shadow: 6px 6px 6px rgba( 0, 0, 0, 0.2 );
}

progress::-webkit-progress-bar {
    background-color: rgb(255, 255, 255);

    border-radius: 20px;
  }

progress::-webkit-progress-value { 
    background-color: #382110;
    border-radius: 20px;
}

.profile-books {
    font-size:24px;
    display:flex;
    justify-content: center;
}

.content-comment-body {
    display:flex;
    justify-content: center;
}

.reviews-label {
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.comments {
    width: 857px;
}

.comment-body {
    height: fit-content;
    background-color: #382110;
    border-radius: 50px;
    margin-bottom: 50px;
    max-height: 500px;
    transition: all 1s ease-in-out;
}

.review-author {
    padding-top:20px;
    padding-left:20px;
    color: white;
}

.review {
    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 250;
    line-height: 21px;
    color:white;
}

.position-button {
    display:flex;
    width: 100%;
    justify-content: end;
}

.userReview {
    background-color: white;
    border:1px solid #382110;
}

.hideDiv {
    max-height: 0;
    margin:0;
    padding:0;
    overflow:hidden;
    transition: 1s;
    border-color: transparent !important
}